:root {
  --background: #282a36;
  --current-line: #44475a;
  --selection: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: var(--background);
}

.App {
  display: grid;
  place-items: center;
}

.file {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--foreground);
  padding: 2rem;
  width: 100%;
  max-width: 1100px;
  position: relative;
}

.file::before {
  z-index: -1;
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translate(8px, 8px);
  background: var(--current-line);
}

.file__save {
  position: fixed;
  left: 0;
  top: 0;
  background: rebeccapurple;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.pre-white {
  white-space: pre;
}

.file__editable-content {
  white-space: pre;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.search {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  background: var(--background);
  color: var(--foreground);
  border: solid 0.25rem var(--selection);
}

.search__open {
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  font-weight: bold;
}

.search__bar {
  color: var(--foreground);
  border: none;
  border-bottom: 0.25rem solid var(--selection);
  background: var(--background);
  padding: 0.5rem;
}

.search__results {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  align-items: start;
  padding: 8px;
}

.search__result {
  cursor: pointer;
}

.z-tag {
  font-weight: bold;
  color: var(--purple);
}

.z-lineitem {
  font-weight: bold;
  color: var(--cyan);
}

.z-line {
  white-space: pre-wrap;
  word-break: break-word;
}

.z-code {
}

.z-comment {
  color: var(--comment);
}

.z-quote {
  color: var(--orange);
}
