{
  "eslintIntegration": false,
  "formatterPriority": 999,
  "semi": false,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "tslintIntegration": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
