.z-operator {
  color: var(--cyan);
  white-space: pre;
  font-weight: bold;
}

.z-tag {
  font-weight: bold;
  color: var(--purple);
}

.z-list {
  white-space: pre-wrap;
}

.z-listitem {
  font-weight: bold;
  color: var(--cyan);
}

.z-line {
  white-space: pre-wrap;
  word-break: break-word;
}

.z-code {
  color: var(--green);
}

.z-comment {
  color: var(--comment);
}

.z-quote {
  color: var(--orange);
}

.z-link {
  color: var(--pink);
  text-decoration: none;
}

.z-striked {
  color: var(--yellow);
}

.z-bold {
  color: var(--yellow);
  font-weight: bold;
}
